.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 15px 0;
  display: flex;
  cursor: pointer;
}

.title {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
