.body {
  width: 630px;
  height: 770px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.images {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
}

.big-image {
  flex-grow: 1;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.big-image__selector {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: rgb(199, 199, 199);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("/public/icons/icon_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  opacity: 0.7;
}

.big-image__selector:hover {
  opacity: 1;
}

.big-image__selector_left {
  left: 20px;
  rotate: 90deg;
}

.big-image__selector_right {
  right: 20px;
  rotate: -90deg;
}

.previews {
  box-sizing: border-box;
  width: 180px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 10px;
  padding: 6px;
  box-sizing: border-box;
}

.preview {
  width: 100%;
  min-height: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: none;
}

.title {
  width: 90%;
  text-transform: uppercase;
  margin: 18px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
}

.params {
  width: 100%;
  height: 364px;
  overflow-y: auto;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.price {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  cursor: default;
}

@media (max-width: 990px) {
  .body {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .images {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: baseline;
    box-sizing: border-box;
    z-index: 1;
  }

  .big-image {
    flex-grow: 1;
    width: 100%;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  .previews {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 10px;
    padding: 6px;
    box-sizing: border-box;
    z-index: 2;
  }

  .previews::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .preview {
    min-width: 80px;
    width: 80px;
    min-height: 0;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: none;
  }

  .title {
    margin: 14px 0;
    font-size: 22px;
  }

  .params {
    width: 100%;
    height: 300px;
    overflow-y: auto;
  }

  .footer {
    gap: 30px;
    padding-top: 10px;
  }

  .price {
    font-size: 24px;
  }
}
