@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all ease-in-out 0.3s;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    302deg,
    rgba(159, 255, 37, 1) 0%,
    rgba(36, 255, 0, 1) 100%
  );
  max-height: 100vh;
  overflow: hidden;
}

.bg_green-fade {
  background: linear-gradient(
    41deg,
    rgba(159, 255, 37, 1) 0%,
    rgba(36, 255, 0, 1) 100%
  );
}

.color_green {
  color: #9fff25;
}
.bg_green {
  background-color: #9fff25;
}

.color_light-khaki {
  color: #c9cdc4;
}
.bg_light-khaki {
  background-color: #c9cdc4;
}

.color_khaki {
  color: #6d7662;
}
.bg_khaki {
  background-color: #6d7662;
}

.color_white {
  color: #f4f4f4;
}
.bg_white {
  background-color: #f4f4f4;
}

.color_light-gray {
  color: #eaeaea;
}
.bg_light-gray {
  background-color: #eaeaea;
}

.color_gray {
  color: #cacaca;
}
.bg_gray {
  background-color: #cacaca;
}

.color_graphite-gray {
  color: #525252;
}
.bg_graphite-gray {
  background-color: #525252;
}

.color_dark-gray {
  color: #313131;
}
.bg_dark-gray {
  background-color: #313131;
}
