.main {
  width: 100%;
  max-width: 1384px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 60px 0 30px 0;
  gap: 58px;
  height: 88vh;
  position: relative;
}

.warning-popups {
  position: fixed;
  right: 60px;
  top: 40px;
  width: 240px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.warning-popup__text {
  width: 100%;
  height: fit-content;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: default;
  align-items: start;
}

.logo {
  text-decoration: none;
  width: fit-content;
  grid-column: 2;
  margin: 0 auto;
}

.logo-img {
  display: block;
  margin: 0 auto;
  height: 42px;
}

.logo-text {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 8px;
  width: fit-content;
  font-weight: 400;
}

.header-buttons {
  justify-self: end;
  display: flex;
}

.button-user-cabinet {
  display: flex;
  align-items: center;
  padding: 9px 14px;
  background-color: #cacaca;
  gap: 11px;
  outline: none;
  border: none;
  border-radius: 0 0 15px 0;
  height: 40px;
  cursor: pointer;
}

.button-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
  width: 56px;
  gap: 6px;
  outline: none;
  border: none;
  border-radius: 0 15px 0 0;
  height: 40px;
  cursor: pointer;
}

.button-cart__img,
.button-user-cabinet__img {
  height: 22px;
}

.button-cart__text,
.button-user-cabinet__text {
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 990px) {
  .main {
    width: 100%;
    max-width: 790px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 60px 0 30px 0;
    gap: 58px;
    height: 88vh;
    position: relative;
  }
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    max-width: none;
    padding: 30px 10px;
    gap: 40px;
    height: 88svh;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .logo {
    margin: 0;
  }

  .logo-img {
    margin: 0;
    height: 40px;
  }

  .logo-text {
    font-size: 11px;
    margin: 0;
  }
}
